@model IEnumerable<VodilaASPApp.Models.Route>

@{
    ViewData["Title"] = "Index";
}

<div class="list-container">
    <div class="list-header">
        <h1>Все <u>маршруты</u></h1>
        <a asp-action="Create"><i class="fas fa-user-plus"></i></a>
    </div>

    <table>
        <tr class="list-table-header">
            <th>Место отправки</th>
            <th>Место прибытия</th>
            <th>Расстояние</th>
            <th>Оплата</th>
            <th colspan="4">Второй водитель?</th>
        </tr>
        @foreach (Route item in Model)
        {
            <tr class="list-item">
                <td>@item.Departureplace</td>
                <td>@item.Arrivalplace</td>
                <td>@item.Distance</td>
                <td>@item.Payment</td>
                <td>@item.RequireSecondDriver</td>
                <td class="list-item-btn">
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <i class="fas fa-user-edit"></i>
                    </a>
                </td>
                <td class="list-item-btn">
                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <i class="fas fa-user-slash"></i>
                    </a>
                </td>
                <td class="list-item-btn">
                    <a asp-controller="Shipments" asp-action="Create" asp-route-routeid="@item.Id">
                        <i class="fas fa-user-slash"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>
